<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ketabk </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/addBooks">Add Book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/deleteBook"> Delete Book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/adminBooks"> view All Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
  </ul>
</nav>
