<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <h1>Welcome to ketabk</h1>
    <br />
    <h2>this site designed for reader you can find your favorite books here</h2>
    <br />
    <footer><-% include('./partials/footer.ejs'); %></footer>
  </body>
</html>
