<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <%- include ('./partials/header.ejs'); %>
    <h1>Welcome to ketabk</h1>
    <br />
    <h2>Welcome to Ketabk
      This site is a training site to apply some of what I learned in using {Node js , Express js , Ejs}.<br>
     The site focuses more on back-end and training in deploying the site
     <br>
      Features:
      <br>
      <li>
        
      <ui>Send a welcome email once registration</ui>
      <ui>Application protection in logIn and signUp</ui>
      <ui> Allocating a special path for the admin that can only be accessed with a specific email</ui>
      <ui> Customizing special features for the addict</ui>
      <ui> Use winston to display and log errors</ui>
      <ui> Data fetching using fetch via Google Book</ui>
      <li>
    </h2>
    <h3>my works :<a href="https://github.com/Tamer3mansor">Git hub</a> <br>
        my Linked in :<a href="https://www.linkedin.com/in/tamer-mansor-05b713258/">Linked in</a> <br>
        my gmail : Tamermansor371@gmail.com
        <br>
    
    </h3>
    <br />

    <footer><%- include('./partials/footer.ejs'); %></footer>
  </body>
</html>
