<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <%- include ('./partials/header.ejs'); %>
    <h1>Welcome to ketabk</h1>
    <br />
    <h2>Welcome to Ketabk
      This site is a training site to apply some of what I learned in using {Node js , Express js , Ejs}. The site focuses more on back-end and training in deploying the site
      Features:
      Send a welcome email once registration
      Application protection in logIn and signUp 
      Allocating a special path for the admin that can only be accessed with a specific email
      Customizing special features for the addict
      Use winston to display and log errors
      Data fetching using fetch via Google Book</h2>
    <br />

    <footer><%- include('./partials/footer.ejs'); %></footer>
  </body>
</html>
