<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <main>
      <header><%- include('./partials/AdminHeader'); %></header>
      <form>
        <input type="text" placeholder="Book Name" id="name" />
        <input type="text" placeholder="Author " id="author" />
        <input type="text" placeholder="Buy link" id="link" />
        <input type="text" placeholder="Book description" id="desc" />
        <button type="submit">Add</button>
      </form>
    </main>
    <footer><%- include('./partials/footer'); %></footer>
    <script>
      let form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        let bookName = document.getElementById("name").value;
        let bookAuthor = document.getElementById("author").value;
        let bookLink = document.getElementById("link").value;
        let bookDesc = document.getElementById("desc").value;
        e.preventDefault();
        try {
          const res = await fetch("/addBooks", {
            method: "POST",
            body: JSON.stringify({ bookName, bookAuthor, bookDesc, bookLink }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          console.log(data);
          if (data.msg == "success") {
            console.log("success");
            location.assign("/books");
          } else if (data.msg == "Incorrect password") {
            passwordError.textContent = "Incorrect password";
          } else if (data.msg == "Incorrect email") {
            emailError.textContent = "Incorrect email";
          }
        } catch (error) {
          console.log(error);
        }
      });
    </script>
  </body>
</html>
