<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <main>
      <header><%- include('./partials/AdminHeader'); %></header>
      <form method="post"  action="/addBooks" enctype="multipart/form-data">
        <input type="text" placeholder="Book Name" id="name"  name="name"/>
        <input type="text" placeholder="Author " id="author" name="author" />
        <input type="text" placeholder="Buy link" id="link" name="link" />
        <input type="text" placeholder="Book description" id="desc" name="desc"/>
        <input type="file" name="pdf" id="pdf" placeholder="upload file" />
        <button type="submit">Add</button>
      </form>
    </main>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
