<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <a href="/logOut">logOut</a>
  </head>
  <body class="container">
    <main>
      <header><%- include('./partials/header'); %></header>
      <input type="text" placeholder="enter keyWord here" id="search" />
      <button onclick="Search()">Search</button>
      <div id="father"><h1></h1></div>
    </main>
    <script>
      let items = [];
      let Search = () => {
        let father = document.getElementById("father");
        father.innerText = "  ";
        let key = document.getElementById("search").value;
        fetch(`https://www.googleapis.com/books/v1/volumes?q=${key}`)
          .then((res) => {
            return res.json();
          })
          .then((result) => {
            items = result.items;
          }),
          (error) => {
            console.log(error);
          };
        for (x = 0; x < items.length; x++) {
          var board = document.createElement("div");
          board.style.border = "10px";
          board.style.color = "black";
          let name = items[x].volumeInfo.title || "null";
          let Rate = items[x].volumeInfo.averageRating || "null";
          let buyLink = items[x].saleInfo.buyLink || "null";
          board.innerText = `name : ${name}        
          Rate : ${Rate}
          buy link : ${buyLink}`;
          father.append(board);
        }
      };
    </script>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
