<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <main style="background-color: bisque;">
      <header><%- include('./partials/header'); %></header>
      <div style="margin-top: 100px">
        <button onclick="Search()" style="display: inline-block">
          Search any Book
        </button>
        <p style="display: inline-block;text-decoration: wavy; text-size-adjust: unset;"  >
          supported by <a href="https://books.google.com/">google Books</a>
        </p>
      </div>
      <div style="margin-bottom: 100px;margin-top: 50px;">
        <button onclick="Books()">Books in our library</button>
      </div>

      <div id="father" style="padding-top: 10px"><h1></h1></div>
    </main>
    <script>
      let items = [];
      let Search = () => {
        location.assign("/globalSearch");
      };
      let Books = () => {
        location.assign("/ourBooks");
      };
    </script>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
