<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <main>
      <li class="nav-item">
        <a class="nav-link" href="/signUp">SignUp/Login</a>
      </li>   
    <header><%- include('./partials/header'); %></header>
    <img src="images/ketabk.jpg" alt="online Book store" />
  
  </main>

    <footer><%- include('./partials/footer'); %> </footer>

  </body>

  </html>
