<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <main>
    <header><%- include('./partials/header'); %></header>
  </main>

    <footer><%- include('./partials/footer'); %> </footer>

  </body>

  </html>
