
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>
    <form>
      <input type="email" placeholder="enter Your email" name="email"/>
      <br>
      <div class="email error"></div>
      <br>
      <input type="password" placeholder="enter Your password" name="password"/>
      <br>
      <div class="password error"></div>
      <div class="clearfix">
        <button type="button" class="cancelbtn" onclick="this.form.reset()">Cancel</button>
        <button type="submit" class="signupbtn">Login</button>
          </form>
    <script>
      let form = document.querySelector('form');
      let email=document.querySelector('email');
      let password=document.querySelector('password');
      let emailError=document.querySelector('.email.error');
      let passwordError=document.querySelector('.email.error');
      form.addEventListener('submit', async (e) => {
      e.preventDefault();
      emailError.textContent ="fff";
      passwordError.textContent ="ffff";
      const email = form.email.value;
      const password = form.password.value;
      try {
        const res = await fetch('/logIn', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();}
      catch (error) {
        console.log(error);
      }
    })    
    </script>
        <footer><%- include('./partials/footer.ejs'); %></footer>
  </body>
