<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>
    <form>
      <input type="email" placeholder="enter Your email" />
      <input type="password" placeholder="enter Your password" />
      <input type="password" placeholder="enter Your password again" />
      <input type="checkbox" />
    </form>
    <footer><-% include('./partials/footer.ejs'); %></footer>
  </body>
</html>
