
  <%- include('./partials/head'); %>

<body class="container">
  <header><%- include('./partials/header'); %></header>
  <br>
  <form action="/signUp" method="post">
    <input type="email" placeholder="enter Your email" name="email" />
    <br>
    <div class="email error"></div>
    <br>
    <input type="password" placeholder="enter Your password" name="password" />
    <br>
    <div class="password error"></div>
    <br>
    <input type="password" placeholder="enter Your password again" name="confirm" />
    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

     </div>
     <p>Already Have an account <a href="/logIn" style="color:dodgerblue"> login</a>.</p>
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    <div class="clearfix">
      <button type="button" class="cancelbtn" onclick="this.form.reset()">Cancel</button>
      <button type="submit" class="signupbtn" >Sign Up</button>
  </form>
  <div>
  </div>
  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error')
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      emailError.textContent = " ";
      passwordError.textContent = " ";
      const email = form.email.value;
      const password = form.password.value;
      const confirm = form.confirm.value;
      try {
        const res = await fetch('/signUp', {
          method: 'POST',
          body: JSON.stringify({ email, password, confirm }),
          headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
          if(data.msg=="success"){
            console.log("success");
            location.assign('/books');
          }
          else if(data.msg=="not equal")
          {
            passwordError.textContent = "tow password must be equal "
          }
          else
          {emailError.textContent =data.email;
          passwordError.textContent =data.password;}
        }
      catch (error) {
        console.log(error);
      }
    })
  
  </script>
  <footer><%- include('./partials/footer.ejs'); %></footer>
</body>